.cards {
  margin-top: max(
    2.652rem,
    calc(2.652rem + (84 - 42) * ((100vw - 375px) / (1600 - 375)))
  );
  padding: 0 calc(1.5rem + 6px) calc(4rem * 2);
  box-sizing: border-box;
  display: block;
}

.card-content {
  grid-row-gap: calc(4rem * 2.5);
  display: grid;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(25, 1fr);
  box-sizing: border-box;
}

.card1 {
  display: "contents";
  background: hsla(284, 61%, 74%, 1);
  color: hsla(171, 11%, 24%, 1);
  grid-column-start: 1;
  grid-column-end: 10;
  box-sizing: border-box;
  line-height: 1.5;
  border-radius: 4rem;
}

.card2 {
  display: "contents";
  background: hsla(172, 45%, 75%, 1);
  color: hsla(171, 11%, 24%, 1);
  grid-column-start: 11;
  grid-column-end: 26;
  box-sizing: border-box;
  line-height: 1.5;
  border-radius: 4rem;
}

.card3 {
  display: "contents";
  background: hsla(22, 62%, 76%, 1);
  color: hsla(171, 11%, 24%, 1);
  grid-column-start: 1;
  grid-column-end: 16;
  box-sizing: border-box;
  line-height: 1.5;
  border-radius: 4rem;
}

.card4 {
  display: "contents";
  background: hsla(206, 84%, 86%, 1);
  color: hsla(171, 11%, 24%, 1);
  grid-column-start: 17;
  grid-column-end: 26;
  box-sizing: border-box;
  line-height: 1.5;
  border-radius: 4rem;
}
