.cards {
  margin-top: max(
    2.652rem,
    calc(2.652rem + (84 - 42) * ((100vw - 375px) / (1600 - 375)))
  );
  padding: 0 calc(1.5rem + 6px) calc(4rem * 2);
  box-sizing: border-box;
  display: block;
}

.card-content {
  grid-row-gap: calc(4rem * 2.5);
  display: grid;
  max-width: 1600px;
  margin: 0 auto;
  width: 100%;
  grid-template-columns: repeat(25, 1fr);
  box-sizing: border-box;
}

@media (max-width: 465px) {
  .card-content {
    display: flex;
    flex-direction: column; /* Vertical layout for mobile */
    grid-row-gap: 2.5rem;
  }
  .cards {
    padding: 0 1.5rem 1rem;
  }
}
